@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Raleway:ital,wght@0,200;1,500;1,800&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #786450;
    font-family: 'Raleway', sans-serif;
    ;
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: linear-gradient(29deg, rgba(237, 189, 108, 1) 0%, rgba(203, 125, 79, 1) 100%);
    border-radius: 15px;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: #fff;
    box-shadow: 10px 10px 31px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 31px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 31px -4px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    display: flex;
}

.main {
    border: 1px solid red;
    width: 60%;
}

.main__img {
    width: 100px;
    border-radius: 60%;
    display: block;
    margin: 2rem auto .5rem auto;
}

.main__name {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
}

.main__profession {
    text-align: center;
}

.btn {
    display: block;
    width: 70%;
    margin: 0 auto;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #786450;
    background-color: #fff;
    font-weight: 900;
}

.btn:hover {
    color: #fff;
    background-color: #786450;
    cursor: pointer;
}