@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: linear-gradient(32deg, rgba(38, 64, 87, 1) 0%, rgba(38, 64, 87, 1) 100%);
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 10px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    border: 1px solid red;
}

.nav {
    background-color: #5f98cd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.5rem;
    height: 25%;
    color: #fff;
}

.nav__menu-btn {
    width: 40px;
    height: 20px;
    /* border: 1px solid red; */
}

.menu-btn {
    display: flex;
    justify-content: space-between;
}

.menu-btn__line1 {
    width: 25px;
    height: 5px;
    background-color: #b2daff;
    border-radius: 10px;
}

.menu-btn__circle {
    width: 8px;
    height: 8px;
    background-color: #b2daff;
    border-radius: 50%;
}

.menu-btn__line2 {
    width: 100%;
    height: 5px;
    background-color: #b2daff;
    border-radius: 10px;
    margin: .3rem 0 0 0;
}

.nav__search-btn {
    background-color: #5f98cd;
    border: none;
    color: #b2daff;
    font-size: 1.6rem;
}

.nav__search {
    display: none;
    background-color: #fff;
    color: #757575;
    font-weight: bolder;
    font-size: 1rem;
    height: 2rem;
    width: 90%;
    border: none;
    border-radius: 100px;
    padding: 1rem;
    margin: 0 1rem 0 0;
    transition: 2s;
}

.nav__menu {
    /* display: none; */
    border: 1px solid red;
    position: absolute;
    top: 8%;
    left: 0%;
    width: 200px;
    height: 250px;
    background-color: rgb(67, 98, 125);
    color: #93b2cd;
}

.nav__menu ul {
    border: 1px solid green;
    height: 100%;
}

.nav__menu li {
    /* border: 1px solid green; */
    margin: 1rem 1rem;
}

.nav__menu li:hover {
    color: #fff;
    transition: 1s ease;
    cursor: pointer;
    background-color: #3871a7e1;
}

.hero {
    background-color: #fff;
    height: 75%;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 0 3.5rem;
}

.hero i {
    color: #5f98cd;
}