:root {
    --background-1: radial-gradient(circle, rgba(140, 240, 160, 1) 0%, rgba(189, 192, 255, 1) 100%);
    --background-2: linear-gradient(357deg, rgba(2, 15, 255, 0.7959558823529411) 2%, rgba(255, 0, 245, 1) 100%);
}

body {
    background: var(--background-1);
    height: 75vh;
    background-size: cover;
    animation: changeBackground 5s linear 2s infinite alternate none;
    /* transition-duration: 2000ms; */
}


.wrapper {
    background: var(--background-2);
    border-radius: 15px;
    width: 400px;
    height: 400px;
    max-width: 80%;
    margin: 250px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    animation: changeBackground1 5s linear 2s infinite alternate none;
}

.line1 {
    width: 100px;
    height: 10px;
    background: var(--background-1);
    border-radius: 5px;
    animation: changeBackground 5s linear 2s infinite alternate none;
}

.line2 {
    width: 100px;
    height: 10px;
    background: var(--background-1);
    border-radius: 5px;
    animation: changeBackground 5s linear 2s infinite alternate none;
}

.line3 {
    width: 100px;
    height: 10px;
    background: var(--background-1);
    border-radius: 5px;
    animation: changeBackground 5s linear 2s infinite alternate none;
}

@keyframes changeBackground {
    0% {
        background: var(--background-1);
    }

    100% {
        background: var(--background-2);
    }
}

@keyframes changeBackground1 {
    0% {
        background: var(--background-2);
    }

    100% {
        background: var(--background-1);
    }
}